<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- https://www.w3schools.com/icons/fontawesome_icons_text.asp -->

<header>

  <div class="container">
    <div class="left">
      <img src={{post.image}}>
    </div>
    <div class="right">
      <h3>{{ include.post.title }}</h3>
      <h4>{{ include.post.venue}}</h4>
      {{ include.post.authors }}

      <div class="flex-container-buttons">
        <div><a href="{{ post.pdf | relative_url }}"   target = _blank>
          <i class="{{post.icon_pdf}}"></i>
          PDF </a>
        </div>
        
        {% if post.doi %}
        <div><a href="{{ post.video | relative_url }}" target = _blank>
          <i class="{{post.icon_vid}}"></i>
          Video</a>
        </div>
        <div><a href="{{ post.doi | relative_url }}"   target = _blank>
          <i class="{{post.icon_doi}}"></i>
          DOI  </a>
        </div>
        {% endif %}
      </div>

    </div>
  </div>

</header>