<header>

  <div class="flex-container">
    <div class="left">
      <img src={{post.image}}>
    </div>
    <div class="right">
      <h3>{{ include.post.title }}</h3>
      <h4>{{ include.post.venue}}</h4>
      {{ include.post.authors }}

      <div class="flex-container-buttons">
        <div><a href="{{ post.pdf | relative_url }}"   target = _blank>
          <svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{post.icon_pdf }}"></use></svg>
          PDF </a>
        </div>
    
        {% if post.doi %}
        <div><a href="{{ post.video | relative_url }}" target = _blank>
          <svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{post.icon_vid }}"></use></svg>
          Video</a>
        </div>
        <div><a href="{{ post.doi | relative_url }}"   target = _blank>
          <svg aria-hidden="true" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{post.icon_doi }}"></use></svg>
          DOI  </a>
        </div>
        {% endif %}
      </div>
      
    </div>
  </div>

</header>